<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 开启mvc注解 -->
	<mvc:annotation-driven></mvc:annotation-driven>
	<!-- 开启包扫描controller -->
	<context:component-scan base-package="com.zlb.controller"></context:component-scan>
	<!-- 配置视图解析器(内部资源视图解析器) -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	<!-- 放行静态资源文件 -->
	<mvc:default-servlet-handler/>
	<!-- 配置文件上传解析器
	1.说明：
	1）id必须为 multipartResolver
	2、规范：
	1）规定文件上传的最大值 1024*1024*10=1048576
	2）设置默认字符集-->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	<property name="maxUploadSize" value="1048576"></property>
	<property name="defaultEncoding" value="UTF-8"></property>
	</bean>
	<!-- 配置拦截器 -->
	<mvc:interceptors>
           <mvc:interceptor>
             <!-- 指定拦截哪些请求路径 -->
             <mvc:mapping path="/**"/>
             <!-- 排除要拦截的路径 -->
             <mvc:exclude-mapping path="/loginUI.html"/>
             <mvc:exclude-mapping path="/**/*.css"/>
             <mvc:exclude-mapping path="/**/*.js"/>
             <mvc:exclude-mapping path="/**/*.png"/>
             <mvc:exclude-mapping path="/**/*.jpg"/>
             <mvc:exclude-mapping path="/**/*.gif"/>
             <mvc:exclude-mapping path="/**/*.ico"/>
             <mvc:exclude-mapping path="/**/*.jpeg"/>
             <mvc:exclude-mapping path="/**/fonts/*"/>
             <!-- 拦截器(这个bean也可以通过ref方式引用，前提是在外面要通过xml或注解方式定义) -->
             <bean class="com.zlb.controller.LoginInterceptor"/>
           </mvc:interceptor>
	</mvc:interceptors>
	
</beans>